version: '3.8'

services:
  postgres:
    image: 'postgres:16.0'
    container_name: 'postgres'
    ports:
      - 5432:5432
    environment:
      - 'POSTGRES_USER=nikita'
      - 'POSTGRES_PASSWORD=nikita'
      - 'POSTGRES_DB=db'